@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<a href="~/User/Signup"> signup</a>
<a href="~/Admin/Create"> signup</a>
<a href="~/Admin/Edit"> signup</a>


@foreach (var item in Model.Products)
{
    <div class="flex-row">

        <table>

            <tr>
                <th>@item.Name</th>
            </tr>
            <tr>
                <th><img class="w-25 h-25" src="@item.ProductPictures.FirstOrDefault().PictureUrl" alt="hello" /></th>
            </tr>
            <tr>
                <th>@item.Manufacture</th>
            </tr>
            <tr>
                <th>@item.Price</th>
            </tr>

        </table>

    </div>
    <br />
}

