@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}





    @foreach (var item in Model.Products)
    {
        <table>

        <tr>
            <th>@item.Name</th>
            <th>@item.Manufacture</th>
            <th>@item.Price</th>
        </tr>
        </table>
    }
