@using ServiceLayer.Service.Dto;
@model ProductDto

<div class="col-sm-3">
    <div class="card my-3">
        @if (Model.pictures.Count >= 1)
        {
            <img class="card-img-top" src="@Model.pictures.FirstOrDefault().PictureUrl">
        }
        else
        {
            <img class="card-img-top" src="https://howfix.net/wp-content/uploads/2018/02/sIaRmaFSMfrw8QJIBAa8mA-article.png">
        }
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Price kr.</p>
        </div>
        <div class="card-footer text-muted">
            <a asp-page="./ProductInfo" asp-route-productId="@Model.ProductId">
                <span class="fas fa-info-circle"> Product</span>
            </a>
        </div>
    </div>
</div>
