@page "{productId:int}"
@model UI.Pages.Products.ProductInfoModel
@{
    ViewData["Title"] = "ProductInfo";
}
<h2>@Model.Product.Name</h2>
<div>
    @if (Model.Product.pictures.Count == 0)
    {
        <img class="card-img-top w-25 h-25" src="https://howfix.net/wp-content/uploads/2018/02/sIaRmaFSMfrw8QJIBAa8mA-article.png">
    }
    else
    {
        
    <img src="@Model.Product.pictures.FirstOrDefault().PictureUrl" alt="Alternate Text" class="w-25 h-25 my-4" />
    }
</div>
@*
<div>
    Id: @Model.Product.ProductId
</div>*@
<div>
    Price: @Model.Product.Price
</div>
<form method="post">
    <input type="hidden" asp-for="Product.ProductId" />
    <div class="form-group">
        <input type="submit" value="Add to cart" class="btn btn-primary" />
    </div>
</form>