@page
@model UI.Pages.Admin.CreateModel
@{
}

@{
    ViewData["Title"] = "Create";
}

<h4>Opret nyt produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ManufactureId" />
                <select asp-for="Product.ManufactureId"
                        asp-items="Model.Manufactures"
                        class="form-control"></select>
                <span class="text-danger" asp-validation-for="Product.ManufactureId"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" />
                <select asp-for="Product.CategoryId"
                        asp-items="Model.Categories"
                        class="form-control"></select>
                <span class="text-danger" asp-validation-for="Product.CategoryId"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-page="./AdminIndex">Back to List</a>
</div>
