@page
@model UI.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}
<a asp-page="./Create" class="btn btn-info">Add New</a>

<table class="table">
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>
                <a asp-page="./Edit" asp-route-productId="@product.ProductId">
                    <span class="fas fa-edit">Edit</span>
                </a>
            </td>
            <td>
                <a asp-page="./Delete" asp-route-productId="@product.ProductId">
                    <span class="fas fa-trash">Delete</span>
                </a>
            </td>
        </tr>
    }
</table>